*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}


/* 

@font-face {
	font-family: clarendon;
	src: url("../fonts/clarendon.ttf");
}

ADD IN FONTS FROM WORK */

#spiritual {
	background: url("../images/DAY%202%20BRISBANE%20435.jpg") center center no-repeat;
	width: 100%;
	height: 60rem;
}

#spiritual h2 {
	position: relative;
	left: 35rem;
	top: 22rem;
	width: 25rem;
}

header {
	position: fixed;
	height: 280px;
	margin: 0 5%;
	width: 90%;
	background: #fff url("images/DAY%202%20BRISBANE%20001.jpg") top center no-repeat fixed;
	max-height: 5rem;
	max-width: 80rem;
}

body {
	font-size: 20px;
	background-color: #d9d9d9;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
	color: #55a51c;
	padding: 1rem;
}

.how-to-enter h2 {
	color: #fff;
}

.three-fifth h2 {
	color: #55a51c;
}

h3 {
	font-size: 2rem;
	font-style: italic;
	color: #fff;
	text-align: center;
	padding: 6em;
}

small {
	text-align: center;
}

h1,
h2,
.nav {
	text-align: center;
	margin-top: 0px;
}

.suites {
	text-align: center;
	max-height: 20em;
	padding: 1em;
}

.centre-managers-quote {
	background-color: #55a51c;
	min-height: 20em;
	text-align: justify;
}

p .centre-managers-quote {
	font-size: 2px;
}

img {
	width: 100%;
	margin: 0;
}

.rvgacp {
	float: left;
}

.acp {
	float: left;
}

.container {
	margin: 0 auto;
	max-width: 80rem;
	width: 90%;
	color: #191919;
	background-color: #fff;
}

.content {
	position: fixed;
	margin: 0 auto;
	max-width: 80rem;
	width: 100%;
	background-color: #fff;
	height: 5rem;
	z-index: 25;
}

.centre {
	display: inline-block
}

.row {
	display: inline-block;
	margin: 0;
	background-color: #fff;
}

.full {
	width: 100%;
	float: left;
	padding: 1.5rem;
}

.how-to-enter {
	background-color: #55a51c;
	color: #fff;
	min-height: 22rem;
}

.how-to-enter .half {
	background-color: #55a51c;
	width: 50%;
}

.full img {
	width: 10rem;
	float: left;
	max-height: 5rem;
}

.three-fifth .full {
	background-color: #eee8c5;
	padding: 1rem;
}

ol {
	list-style: disc;
	padding-left: 2rem;
}

li {
	color: #55a51c;
	/* bullet color */
}

li span {
	color: #191919;
	/* text color */
}

.three-fifth {
	float: left;
	width: 60%;
	padding: 3rem;
	background-color: #55a51c;
	color: #fff;
}

.two-fifth {
	width: 40%;
	padding: 3rem;
	padding-top: 4rem;
	float: left;
	background-color: #fff;
}

.half {
	float: left;
	width: 50%;
	padding: 3rem;
	background-color: #fff;
}

.third {
	background-color: aquamarine;
	width: 33.3%;
	float: left;
}

.quarter {
	width: 25%;
	float: left;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.row .quarter {
	height: 5rem;
}

.content .half {
	text-align: right;
	padding: 0;
	float: left;
}

.nav {
	display: inline-block;
	text-align: right;
	font-size: 1rem;
}

a:hover {
	color: #fcb073;
}

.nav span {
	cursor: pointer;
}

.three-quarter span {
	max-height: 5rem;
	width: 75%;
	float: left;
	display: inline-block;
	width: 100px;
	border-radius: .5rem;
	text-align: center;
	margin: 1rem .5rem 1rem .5rem;
}

.three-quarter .row {
	width: 75%;
	float: left;
	margin-right: 5%;
}

.features {
	float: right;
}

#home {
	margin-top: 5rem;
}

.foot {
	max-width: 80rem;
	background-color: #191919;
}

footer {
	height: 5rem;
	width: 90%;
	margin: 0 5% 0 5%;
	padding-top: 2rem;
	background-color: #191919;
}

footer a {
	margin: 1rem;
	text-decoration: none;
	text-align: justify;
	color: white;
}

footer span {
	color: #fff;
	float: right;
	margin-right: 1rem;
}