*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

@font-face {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}


/* ADD IN FONTS FROM WORK */

#construction {
	background: url("../images/DAY-2-BRISBANE-435.jpg") center center no-repeat;
	width: 100%;
	height: 52rem;
}

#construction h2 {
	position: relative;
	left: 35rem;
	top: 22rem;
	width: 25rem;
}

#locations {
	background: url("../images/MAP-of-centres.svg") left center no-repeat;
	width: 100%;
	height: 48rem;
	background-color: #fff;
}

#spiritual h2 {
	position: relative;
	left: 35rem;
	top: 22rem;
	width: 25rem;
}

#spiritual {
	background: url("../images/DAY-2-BRISBANE-435.jpg") center center no-repeat;
	width: 100%;
	height: 52rem;
}

header {
	position: fixed;
	height: 280px;
	margin: 0 5%;
	width: 90%;
	background: #fff url("images/DAY%202%20BRISBANE%20001.jpg") top center no-repeat fixed;
	max-height: 5rem;
	max-width: 80rem;
}

body {
	font-family: Helvetica Neue;
	font-size: 1.125rem;
	/* 18pt / 16pt */
	background-color: #d9d9d9;
	line-height: 1.25rem;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-family: Palatino;
	font-size: 1.75rem;
	/* 28pt / 16pt */
	line-height: 2rem;
	color: #55a51c;
	padding: 1rem;
}

h5 {
	font-family: Palatino;
	font-size: 1.25rem;
	/* 28pt / 16pt */
	line-height: 2rem;
	color: #55a51c;
	padding-left: 2rem;
}

.three-fifth h2 {
	color: #fff;
}

h3 {
	font-family: Palatino;
	font-size: 2.25rem;
	/* 36pt / 16pt */
	line-height: 2.5rem;
	font-style: italic;
	color: #fff;
	text-align: center;
	padding: 4em;
}

small {
	font-family: Palatino;
	font-size: 1.5rem;
	/* 24pt / 16pt */
	text-align: center;
}

h1,
h2,
.nav {
	text-align: center;
	margin-top: 0px;
	text-decoration-color: #191919;
}

ul li {
	font-size: .875rem;
	/* 15pt / 16pt */
	text-align: center;
	margin-top: 0px;
	text-decoration-color: #191919;
}

ol li {
	font-size: 1.125rem;
	/* 18pt / 16pt */
	text-align: left;
	margin-top: 0px;
	text-decoration-color: #191919;
}

#lifestlye {
	padding-top: 5rem;
}

.centre-managers-quote {
	background-color: #55a51c;
	min-height: 20em;
	text-align: justify;
}

p .centre-managers-quote {
	font-size: 2px;
}

img {
	height: 100%;
	margin: 0 auto;
}

.rvgacp {
	float: left;
}

.acp {
	float: left;
}

.container {
	margin: 0 auto;
	max-width: 80rem;
	width: 90%;
	color: #191919;
	background-color: #fff;
}

.content {
	position: fixed;
	margin: 0 auto;
	max-width: 80rem;
	width: 100%;
	background-color: #fff;
	height: 5rem;
	z-index: 25;
}

.centre {
	display: inline-block
}

.row {
	display: inline-block;
	margin: 0;
	background-color: #fff;
}

.full {
	width: 100%;
	float: left;
	padding: 1rem;
}

.full img {
	width: 100%;
	float: left;
	max-height: 5rem;
}

ol {
	list-style: disc;
	padding-left: 2rem;
}

.three-fifth {
	float: left;
	width: 60%;
	padding: 3rem;
	background-color: #55a51c;
	color: #fff;
}

#locations .three-fifth {
	background-color: #fff;
	color: #191919;
	padding: 1rem;
}

#locations .two-fifth {
	background-color: transparent;
}

#locations h2 {
	color: #55a51c;
	text-align: left;
	padding-left: 2rem;
}

#locations li {
	font-size: .75rem;
	/*10pt / 16pt */
	color: #191919;
	text-align: left;
}

#locations h4 {
	color: #e70033;
	font-size: .875rem;
	font-style: bold;
}

#locations a {
	color: #e70033;
	font-size: .875rem;
}

#locations a:hover {
	color: #55a51c;
	font-style: bold;
}

#locations .half {
	padding: 1rem;
}

.two-fifth {
	width: 40%;
	padding: 3rem;
	padding-top: 4rem;
	float: left;
	background-color: #fff;
}

.half {
	float: left;
	width: 50%;
	padding: 3rem;
	background-color: #fff;
}

.third {
	background-color: aquamarine;
	width: 33.3%;
	float: left;
}

.quarter {
	width: 25%;
	float: left;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
}

.row .quarter {
	height: 4.5rem;
	width: 10rem;
	vertical-align: middle;
}

.content .half {
	text-align: right;
	padding: 0;
	float: left;
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 2.075rem;
	line-height: .93rem;
}

.nav {
	display: inline-block;
	text-align: right;
	font-size: 1rem;
	cursor: pointer;
}

.nav a:hover {
	background-color: #55a51c;
	color: #fff;
}

.email {
	color: #fff;
	text-decoration: none;
}

.email:hover {
	color: #191919;
}

.three-quarter span {
	max-height: 5rem;
	width: 75%;
	float: left;
	display: inline-block;
	width: 100px;
	border-radius: .5rem;
	text-align: center;
	margin: 1rem .5rem 1rem .5rem;
}

.three-quarter .row {
	width: 75%;
	float: left;
	margin-right: 5%;
}

#filter-carousel img {
	padding-top: 5rem;
}

.logo img {
	width: auto;
	margin: auto;
}

.container img {
	width: 100%;
	margin-bottom: -.25rem;
}

#volunteer {
	margin-top: -.25rem;
}

.foot {
	max-width: 80rem;
	background-color: #191919;
}

footer {
	height: 6rem;
	width: 90%;
	margin: 0 5% 0 5%;
	padding-top: 2rem;
	background-color: #191919;
}

a {
	text-decoration: none;
}

footer a {
	margin: 1rem;
	text-decoration: none;
	text-align: justify;
	color: #fff;
}

footer span {
	font-family: Palatino;
	font-size: 1rem;
	/* 16pt / 16pt */
	text-align: center;
	color: #fff;
	float: right;
	margin-right: 1rem;
}

#how-to-enter h2 {
	color: #fff;
}

#how-to-enter {
	background-color: #55a51c;
	color: #fff;
}

#how-to-enter .half {
		background-color: #55a51c;

		color: #fff;
	width: 50%;
	padding: 3rem;
	padding-top: 0;
}


/*
.read-more,
.read-more a {
	margin-top: 30px;
}

.read-more a {
	color: #043049;
	font-weight: 600;
	display: block;
	text-align: right;
}

.read-more p {
	display: none;
}
*/

#menu-bar {
	height: 2rem;
	width: 100%;
	background-color: #666666;
	margin-top: 5rem;
	text-align: center;
	display: none;
}

#menu-bar a {
	color: #fff;
	align-content: center;
	padding: .575rem 2rem;
}


/* Slick additinal css */

.carousel {
	max-width: 80rem;
	margin: 0 0;
}

.carousel img {
	width: 100%;
}

.slick-prev:before,
.slick-next:before {
	color: #222;
}


/* There is a User Agent Style in Chrome that gives two pillars when we
change slide.  This selector removes the outline
*/

.slick-slide:focus {
	outline: none;
}

.slick-center {
	transform: scale(1.2);
}